@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Source+Sans+3:wght@400;500;600;700;800&family=Source+Code+Pro&display=swap');

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--coffee-0);
  font-family: 'Source Sans 3', sans-serif;
  color: var(--base);
  font-weight: 500;
}

.font-title {
  font-family: 'Montserrat', sans-serif;
}

.font-code {
  font-family: 'Source Code Pro', monospace;
}

canvas {
  touch-action: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--screen-scrollbar);
}

.box-filling {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--coffee-1);
  font-family: Roboto;
  overflow: hidden;
  opacity: 0;
  animation-name: fade;
  animation-duration: 4s;
  animation-timing-function: linear;
}

.box-filling::before,
.box-filling::after {
  content: '';
  position: absolute;
  left: 50%;
  min-width: 750vw;
  min-height: 750vw;
  background-color: var(--coffee-0);
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 4s;
}

.box-filling::before {
  bottom: 15vh;
  border-radius: 40%;
}

.box-filling::after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 45%;
}

.button-circle {
  background: var(--coffee-2);
  transition: box-shadow 0.25s;
}

.button-circle:hover {
  box-shadow: inset 0 0 0 2em var(--coffee-4);
}

.button-circle:active {
  box-shadow: inset 0 0 0 2em var(--coffee-6);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 10%) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -15%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, -40%) rotateZ(360deg);
  }
}

@keyframes arrow-bounce {
  0%,
  100% {
    transform: translate(25%, 25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (min-width: 1024px) {
  .box-filling::before,
  .box-filling::after {
    content: '';
    position: absolute;
    left: 50%;
    min-width: 250vw;
    min-height: 250vw;
    background-color: var(--coffee-0);
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 4s;
  }
}
