:root {
  --clock-0: #488c54;

  --coffee-0: #ededea;
  --coffee-1: #e3c3a1;
  --coffee-2: #ccaf90;
  --coffee-3: #b79d8f;
  --coffee-4: #ad8f7f;
  --coffee-5: #a38270;
  --coffee-6: #987562;

  --screen: #282c34;
  --screen-scrollbar: #50545a;

  --base: #000212;

  --floor-3d: #c8dbef;
  --floor-html: #d8dee4;
}
